.product-card {
  background-color: #161819;
  padding: 15px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  border: 1px solid #A9AFC3;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}


.product-image {
  width: 70%;
  height: 300px;
  border-radius: 5px;
  margin-top: 3px;
  margin-bottom: 15px;
  transition: transform 0.4s ease-out;
}
.product-image:hover{
  transform: scale(1.1);

}

.product-heading {
  font-size: 1.2rem;
  color: #A9AFC3;
  margin: 15px 0;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}


.product-description {
  font-size: 0.9rem;
  color: #A9AFC3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  text-align: left;
  max-height: 3rem;
  margin: 20px 0;
}

.product-divider{
  color: #454545;

}


.product-price {
  color: #A9AFC3;
  font-size: 1.5rem;
  margin: 10px 0;
  text-align: left;
  margin: 25px 0;
}

.add-to-cart-btn {
  background-color: #FF0000;
  color: white;
  border: none;
  padding: 10px 56px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-top: 5px;
  margin-bottom: 6px;
}
.add-to-cart-btn.added{
  background-color: #28a745;
}

.add-to-cart-btn:hover {
  /* background-color: #d32f2f; */
  background-color: #f44336;

}
