.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* card-container */

.card-container {
  display: grid; /* Enables grid layout */
  grid-template-columns: repeat(4, 1fr); /* 4 cards in a row */
  gap: 20px; /* Space between the cards */
  padding: 20px; /* Space around the grid container */
  background-color: #141414;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr); /* 3 cards in a row */
  }
}
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr); /* 2 cards in a row */
  }
}
@media (max-width: 480px) {
  .card-container {
    grid-template-columns: 1fr; /* 1 card per row */
  }
}




